.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }


  .icon-footer {
    color: whitesmoke;
    font-size: 1em;
    margin-left: 0vh;
    padding: 0vh;
    display: inline-block;
  }

  .profile-title {
    font-size: 2em;
  }

  .profile-icon-container {
    font-size: 1.5em;
    position: relative;
  }
  
 

  .profile-icons {
    color: #21a8d8;
    margin-right: 10vh;
    padding-left: 8vh
  }