#brand-logo {
	font-size: 2.5em;
	text-decoration: 0.15em dotted #21a8d8 underline;
}

#log-reg {
	margin-top: 1vh;
	margin-left: 50vh;
	color: whitesmoke;
}

#log-link {
	margin-top: 0vh;
	margin-left: 120vh;

	color: whitesmoke;
	position: relative;
}

#reg-link {
	margin-top: -3vh;
	margin-left: 120vh;
	color: whitesmoke;
	position: relative;
}

.search {
	margin-top: -3vh;
}
.search-bar {
	padding-top: 2vh;
}

.search-title {
	color: whitesmoke;
	margin-top: 3vh;
	padding-top: 3vh;
}

.menu-title {
	padding-top: 5vh;
	font-size: 3em;
	font-style: oblique;
}

a.nav-link {
	text-decoration: none;
	color: whitesmoke;
}

#welcome {
	color: whitesmoke;
	margin-left: 3vh;
	margin-top: 1vh;
}

#footer {
	height: 2em;
}

.card-body.p-4 {
	width: 80vh;
	background-color: whitesmoke;
}

.btn.btn-outline-light.btn-floating.m-1 {
	padding: 0px 5px 0px 5px;
	border-color: #21a8d8;
}

.text-center.p-3 {
	position: absolute;
	margin-top: -3.5vh;
	margin-left: 85%;
}

.mb-4 {
	padding: 0px;
	position: absolute;
	margin-left: -32vh;
	margin-top: -2.5vh;
}

.about {
	color: whitesmoke;
	font-weight: bold;
	font-size: 2em;
	line-height: 50px;
	margin-top: 20vh;
}

h1 {
	font-size: 2.5em;
	color: whitesmoke;
}

#body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #9fa8c5;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
